/**版面設計**/

body{
	font-family:"arial","微軟正黑體 Light", sans-serif;
}


header{
	width: 960px;
	height: 750px;
	position: fixed;
	width: 100%;
}

/* ### HEADER LOGO ###*/

#banner {
    float: left;
}

#banner h1 {
    margin: 0;
}

#banner img {
    vertical-align: bottom;
    width: 100px;
    height: 50px;
}

/* ### HEADER 按鈕 ###*/

button{
	float: right;
}

nav{
	float: right;
	font-size: 16pt;
	font-family:'Montserrat',sans-serif;
	padding-top: 30px;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav li{
	list-style-type: none;
	float: left;
}

nav li a{
	display: block;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	text-decoration: none;
	border-bottom: solid 3px transparent;;
}

/**main圖片**/

img{
	width: 960px;
	height: 800px;

}


footer{
	color: #000000;
	background-color: #DDDDDD;

}

footer li{
	text-align: right;
	font-size: 10px;

}
small{
	margin-left: 20px;
}



